# Build
/target/
/build/

# IDE
/.idea/
/*.iml
/.vscode/

# Logs
*.log

# Sistema
.DS_Store

# Chaves e secrets
application-prod.properties
application.properties-prod
.env
ex.java
# Dependências
/.mvn/
.gradle/
